/* Transition Effect  */
.section {
    opacity: 0.0;
    visibility:hidden;
    position:absolute;
    -webkit-transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    margin-top: 80px;
    width: 100%;
    padding: 40px 13%;
}

.opacity {
    opacity: 1.0;
    visibility:visible;
    transition-delay:0s;
    -webkit-transition-delay:0s;
    -moz-transition-delay:0s;
    -o-transition-delay:0s;
}


body {
    background-color: #f0f0f0;
    color: #6f6f6f;
    font-size: 18;
    /*padding: 100px 0px;*/
}

.img-center {
    margin: 0 auto;
}

#name {
    font-size: 72px;
    font-weight: 600;
    color: #50626C;
    text-transform: uppercase;
    font-family: "PT Sans",sans-serif;
}

#intro {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #828282;
}

#title {
    font-size: 28px;
    font-weight: 900;
    color: #767676;
}

#skill {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #828282;
}

#json-info {
    margin: 0 10%;
    color: #727272;
    font-weight: 800;
}

#json-info p {
    margin: 0px;
}

#json-info .json-level-1 {
    margin-left: 3em;
}

#nav-section {
    font-size: 22px;
    font-weight: 500;
    color: #767676;
}

/* Resume */
.resume-subtitle {
    color: #3872a5;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
}

.resume-item-header {
    color: #5f5f5f;
    font-size: 22;
    font-weight: 800;
}
.resume-item-header > p{
    margin-bottom: 0px;
}

.resume-item-content, .resume-list {
    color: #6f6f6f;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}
.resume-time {
    font-size: 18;
    font-weight: 800;
}

.resume-item {
    margin-bottom: 30px;
}

.resume-subsection {
    border-bottom: 2px solid #ccc;
    padding: 15px 0 20px;
}

.project {
    padding: 40px 0 50px;
    border-bottom: 2px solid #ccc;
}

.project h2 {
    color: #3872a5;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
}

.project img {
    width: 300px;
}

.project p {
}
