%link(rel="stylesheet" type="text/css" href="stylesheets/styles.css")

.lodon-bigben
  .clock-layer1
    .clock-layer2
      .clock-circle-layer


.greek-house
  .house1
    .window
      .circle
      .circle
      .circle
  .house2
    .door

